.content {
    height: 96px;
    width: 1400px;
    background-color: #fff;
    color: #373737;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    padding: 30px;
    list-style-type: none;
    box-sizing: border-box;
  }