.container {
    top: 1%;
    left: 43%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: $grey;
    height: 6rem;
    .title{
        font-size: 4rem;
        padding: 0rem;
        margin-top: auto;
        margin-bottom: auto;
        float: left;
        margin-left: 2rem;
    }
    .date {
        float: right;
        margin-top: 1.5rem;
    }
}