.container {
    top: 1%;
    left: 43%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: $grey;
    height: 6rem;
    .title{
        font-size: 4rem;
        padding: 0rem;
        margin: 0rem;
        float: left;
    }
    .date {
        float: right;
    }
}