html {
    font-size: 62.5%;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: $m-size;
    background: #e6ecf1;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}